<% include ./partials/header %>

<div class="container">
    <div class="row">
        
        <h1 style="text-align: center">Welcome HoD</h1>
        
        <div style="width: 30%; margin: 25px auto">
            <form action="/landing" method="POST">
                
                <input type="checkbox" id="switch"><label for="switch">Toggle</label>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
                
            </form>
            
            <a style="color: #000000" href = "/index">Go Back!</a> 

        </div>
    
    </div>
    
</div>

<% include ./partials/footer %>