<% include ./partials/header %>

<div class="container">
    <div class="row">
        
        <h1 style="text-align: center">Welcome Principal</h1>
        
        <div style="width: 30%; margin: 25px auto">
            <form action="/data" method="POST">
                
                <div style="width: 30%; margin: 25px auto">
                    <h1>Status</h1><input type="checkbox" id="switch" name="pswitch" ><label for="switch">Toggle</label>
                </div>
                
                
                <br><br><br><br>
                
                <div>
                  <h2>Comment!</h2><input type="textarea" style="height:70px; width:400px;" name="pcomment">
                </div>
                
                <br><br><br><br>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
                
            </form>
            
            <a style="color: #000000" href = "/index">Go Back!</a> 

        </div>
    
    </div>
    
</div>

<% include ./partials/footer %>